---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Link } from "@/components/ui/link";

const allPosts = await Astro.glob("./blog/*.md");

// TODO: add a tag selection section that redirects to the relevant tag page
---

<BaseLayout pageTitle="blog">
  <h1 class="text-xl mb-3 font-bold">Blog</h1>
  <ul>
    {
      allPosts.map((post) => {
        return (
          <li>
            <Link color="yellow" href={post.url}>
              {post.frontmatter.title}
            </Link>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
