---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Link } from "@/components/ui/link";
---

<BaseLayout pageTitle="blog">
  <h1 class="text-xl mb-3 font-bold">Blog</h1>
  <ol>
    <li>
      <Link color="yellow" href="blog/post-1">post 1</Link>
    </li>
  </ol>
</BaseLayout>
