---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-xl mb-3">Blog</h1>
  <p class="mb-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
    voluptatem quibusdam quasi culpa. Enim, ad suscipit, dolor quisquam vel
    molestias mollitia doloremque accusantium tempore placeat quis ex. Dolore,
    aperiam pariatur?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure consectetur
    placeat consequatur assumenda dolorem distinctio vel sapiente repellat!
    Dolorem facere autem voluptas doloremque unde fugiat veniam atque
    voluptatibus cum sapiente.
  </p>
</BaseLayout>
