---
import { SITE } from "@/config";
import type { PostsCollection } from "@/content/collections";
import BaseLayout from "@/layouts/BaseLayout.astro";
import dayjs from "dayjs";

interface Props {
  data: PostsCollection;
}

const { data } = Astro.props;
const publishDate = dayjs(data.pubDate).format(SITE.dateFormat);
---

<BaseLayout pageTitle={data.title}>
  <h1 class="text-xl mb-3 font-bold">{data.title}</h1>
  <p class="mt-4 text-sm">Published on: {publishDate}</p>
  {data.tags.length && <p>tags: {data.tags}</p>}
  <article
    class="mt-4 prose dark:prose-invert prose-a:text-blue-600 prose-a:dark:text-blue-400"
  >
    <slot />
  </article>
</BaseLayout>
