---
import { SITE } from "@/globals";
import type { PostsCollection } from "@/content/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
import dayjs from "dayjs";
import { ClientRouter } from "astro:transitions";

interface Props {
  data: PostsCollection;
}

const { data } = Astro.props;
const publishDate = dayjs(data.pubDate).format(SITE.dateFormat);
---

<head>
  <ClientRouter />
</head>

<BaseLayout pageTitle={data.title}>
  <h1 class="text-xl mb-3 font-bold">{data.title}</h1>
  <time datetime={publishDate.toString()} class="mt-4 text-sm"
    >Published on: {publishDate}</time
  >
  {data.tags.length && <p>tags: {data.tags.join(", ")}</p>}
  <article
    class="mt-4 prose dark:prose-invert prose-a:text-blue-600 prose-a:dark:text-blue-400 prose-img:mx-auto"
  >
    <slot />
  </article>
</BaseLayout>
