---
import { SITE } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
import dayjs from "dayjs";

const { frontmatter } = Astro.props;
const publishDate = dayjs(frontmatter.pubDate).format(SITE.dateFormat);
---

<BaseLayout>
  <h1 class="text-xl mb-3 font-bold">{frontmatter.title}</h1>
  <p class="mt-4 text-sm">Published on: {publishDate}</p>
  <p class="mb-4">tags: {}</p>
  <slot />
</BaseLayout>
